body {
    padding-top: 20px;
    background-color: #042029;
        /*background-color: #fdf6e3;*/
    margin: 0 auto;
    width: 100%;
    width: 1024px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

#loader {
    /*background-color: #f3f3f3;*/
    background-color: #042029;
    opacity: 0.9;
    position: absolute;
/*    padding: 100px 900px;
    margin: 0px 10px;
*/    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #839496;    
    width: 1000px;
    /*width: 100%;*/
    height: 3000px;
}

.title_block {
    padding: 10px 30px 30px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #839496;
    width: 900px;
}

.distance_lines {
    fill: none;
    stroke: #839496;
    stroke-width: 1.5;
    opacity: 1;
}